.nav_2 {
	height: 50px;
	border-top: 1px solid #AAAAAA;
	padding-top: 7px;
}

.commission_info {
	margin-right: 15px;
}

.modify {
	float: right;
}

.commission_now {
	float: right;
	margin: 5px 50px 0 0;
	font-size: 20px;
}

.nav_option {
	
}

.nav_active {
	background: #ff5400;
}

.income_now {
	float: left;
	margin: 5px 0 0 50px;
	font-size: 20px;
}

.navbar-style {
	width: 400px;
}