.container {
	min-width: 70%;
	background-color: #F5F5F5;
	margin-top: 20px;
}

.container .pic {
	float: left;
	height: 350px;
	width: 20%;
	background-color: #F2F2F5";
	margin-top: 5%;
	margin-left: 10%;
}

.container form {
	margin-top: 5%;
	margin-left: 50px;
	height: 350px;
	width: 50%;
	float: left;
}

.container form label {
	min-width: 200px;
	color: #FF5400;
}

.container textarea {
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	vertical-align: text-top;
}


.form-group:last-child{
	/*margin-left:20%;*/
}
#save ,#close{
	display:inline-block;
	width: 30%;
	background-color: #FF5400;
	color: #ffffff;
	margin-top: 30px;
	margin-left: 19%;
}

#savePolicy{
	display:inline-block;
	width: 30%;
	background-color: #FF5400;
	color: #ffffff;
}

/*----------------------上传文件的css-------------------------*/
.mark_OK {
	position: absolute;
	right: 144px;
	top: 11px;
	color: green;
}

.mark_ERROR{
	position: absolute;
	right: 144px;
	top: 11px;
	color: red;
}

#uploading {
position: absolute;
top: 8px;
right: -48px;
background-image: url(../../images/loading.gif);
width: 16px;
height: 16px;
}

#logo{
	position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;
}

.block-title {
text-align: left;
font-weight: bold;
font-size: 16px;
height: 14px;
}

.bs-callout {
/*padding: 20px;
margin: 20px 0;*/
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
background: white;
}

.bs-callout-warning {
border-left-color: #f0ad4e;
}

.bs-callout-info {
border-left-color: #5bc0de;
}

body{
	background-color: #F5F5F5;
}

h4.page-header{
	color:#888;
}