<!DOCTYPE html>
<html>
  <head>
    <title>tail.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
   <!--  <link rel="stylesheet" type="text/css" href="./styles.css"> -->

  </head>
  
  <body>
   <footer>
	<div class="concept">
		<ul>
			<li><span>easy</span>
			</li>
			<li><span>cheap</span>
			</li>
			<li><span>safe</span>
			</li>
		</ul>
	</div>
	<div class="tail">
		<div>
			<ul>
				<li><span>about us</span>
				</li>
				<li><a href="#">our homepage</a>
				</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><span>contact us</span>
				</li>
				<li><a href="Mailto://764586144@qq.com">Email</a>
				</li>
				<li><a
					href="tencent://message/?uin=764586144&Site=http://qbar.qq.com/application/&Menu=yes">Tencent
						QQ</a>
				</li>
				<li><a href="http://weibo.com/u/3750216917">Sina weibo</a>
				</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><span>our service</span>
				</li>
				<li><a href="#">on-line sale</a>
				</li>
				<li><a href="#">physical store</a>
				</li>
				<li><a href="#">after-sales serves</a>
				</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><span>how to use it</span>
				</li>
				<li><a href="#">help page</a>
				</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><span>link</span>
				</li>
				<li><a href="http://glyphicons.com/">glyphicon</a>
				</li>
			</ul>
		</div>

	</div>
	</footer>
  </body>
</html>
