header {
	height: 80px;
	background-color: #FF5400;
	position: relative;
}

header .logo {
	color: white;
	text-shadow: 0 0 3px #FF4400, 3px 3px 3px #EEA60C;
	font-size: 40px;
	font-weight: bolder;
	font-style: italic;
	padding: 0 40px;
	line-height: 80px;
}

header .identity {
	font-size: 20px;
	color: white;
	padding: 0px 40px;
}

header .search-box {
	display: inline-block;
	/* line-height:80px; */
	margin-left: 280px;
	vertical-align: middle;
}

header .search-box input[type='search'] {
	width: 400px;
	height: 35px;
	border: 2px solid white;
	float: left;
	/* font-size: 16px; */
}

header .search-box button {
	width: 80px;
	height: 35px;
	background-color: #FF5400;
	text-align: center;
	color: white;
	font-size: 20px;
	line-height: 33px;
	border: 2px solid white;
	/* border-left: */
	margin: 0;
}

.container {
	margin: 40px auto;
}

.background {
	background-color: #FFFFCC;
	height: 300px;
	width: 70%;
	text-align: center;
	padding: 40px;
	margin: 0 auto;
}

.background ul {
	margin: 0 auto;
	width: 60%;
}

.background li {
	list-style: none;
	text-align: left;
}

.background li span {
	color: #FF5400;
}

.background .btn_color {
	background-color: #ff5400;
	color: #ffffff;
}

.btn_style {
	margin: 20px;
}

.background .title_color {
	color: #ff5400;
	text-shadow: 1px 1px #ff5400;
}

.background .title_size {
	font-size: 24px;
}

.background .main_color {
	color: #ff5400;
}

.background .tick_img {
	width: 40px;
	height: 40px;
}

.background-left {
	float: left;
	width: 250px;
	height: 150px;
}

.background-left img {
	float: left;
	margin: 10px 0px 10px 90px;
}

.background-right {
	float: left;
	height: 150px;
	width: 306px;
	margin-left: 20px;
}

.background-right ul {
	margin-top: 10px;
	line-height: 20px;
	width: 284px;
}