@CHARSET "UTF-8";
img.product_img{
	width:80px;
	height:80px;
}
.btn_color{
background-color:#ff5400;
color:#ffffff;
}
.title_color{
color:#ff5400;
text-shadow:1px 1px #ff5400;
}
.main_color{
color:#ff5400;
}
.sec_color{
color:#eea60c;
}
.page{
	overflow:hidden;
}
.nav .nav_option:hover{
background-color:#E7E7E7;
}

#search_by li{
	cursor:pointer;
}

.modal-open .modal-body{
	height: 48%;
}

#orderList td{
	vertical-align : middle;
}

#orderList .t_price{
	color: #ff5400;
	font-weight: bold;
	font-family: arial;
}

.express li i{
	background: url(../../images/express.jpg) no-repeat 0 0;
	display: inline-block;
	width: 36px;
	height: 36px;
	float: left;
	line-height: 29px;
}
.express li span{
	float: left;
	margin-left: 16px;
	height: 25px;
	line-height: 36px;
	font-size: 16px;
}

span.info{
	color: purple;
	font-size: 27px;
	margin: 7px;
}