.btn_color {
	background-color: #ff5400;
	color: #ffffff;
}

.title_color {
	color: #ff5400;
	text-shadow: 1px 1px #ff5400;
}

.main_color {
	color: #ff5400;
}

.sec_color {
	color: #eea60c;
}

.star {
	color: #999;
	font-size: 22px;
}

.star:hover {
	color: #eea60c;
	font-size: 22px;
}

form {
	clear: both;
}

.navBar li:nth-child(4) {
	background: #FF5400;
}

.navBar li:nth-child(4) .glyphicon {
	color: #FF5400;
}