@CHARSET "UTF-8";

header {
	height: 80px;
	background-color: #FF5400;
	position: relative;
}

header .logo {
	color: white;
	text-shadow: 0 0 3px #FF4400, 3px 3px 3px #EEA60C;
	font-size: 40px;
	font-weight: bolder;
	font-style: italic;
	border-right: 2px solid white;
	padding: 0 40px;
	line-height: 80px;
}

header .identity {
	font-size: 20px;
	color: white;
	padding: 0px 40px;
}

.container {
	width: 700px;
	min-height: 150px;
	background-color: #F2F2F2;
	margin: 20px auto;
	padding: 20px 0;
}

form {
	width: 550px;
	min-height: 150px;
	margin: 10px auto;
	padding: 10px 0;
}


form .form-group:last-child{
	text-align:center;
}

form #submit{
	text-align:center;
	background-color:#ff5400;
	color:white;
}


.tip{
	position: absolute;
	top: 6px;
	right: -73px;
	color : red;
}