.btn_color {
	background-color: #4cada6;
	color: #ffffff;
}

.title_color {
	color: #4cada6;
	text-shadow: 1px 1px #4cada6;
}

.main_color {
	color: #4cada6;
}

.sec_color {
	color: #eea60c;
}

.panel_btn {
	color: #ffffff;
	text-shadow: 1px 1px #eea60c;
}

.star {
	color: #eea60c;
	font-size: 24px;
}