@CHARSET "UTF-8";

header {
	height: 80px;
	background-color: #FF5400;
	position: relative;
}

header .logo {
	color: white;
	text-shadow: 0 0 3px #FF4400, 3px 3px 3px #EEA60C;
	font-size: 40px;
	font-weight: bolder;
	font-style: italic;
	border-right: 2px solid white;
	padding: 0 40px;
	line-height: 80px;
}

header .identity {
	font-size: 20px;
	color: white;
	padding: 0px 40px;
}

.container {
	width: 700px;
	min-height: 350px;
	background-color: #F2F2F2;
	margin: 20px auto;
	padding: 20px 0;
}

form {
	width: 550px;
	min-height: 350px;
	margin: 10px auto;
	padding: 10px 0;
}

.form-group label {
	text-align: right;
	min-width: 150px;
}

.container button { /* width:263px; */
	background-color: #FF5400;
	color: #ffffff;
}

form .form-group:last-child {
	text-align: center;
	margin: 40px 0;
}
/*
.check span {
	border: 1px solid red;
	margin: 10px 200px;
	padding: 5px 30px;
	color: red;
}*/

.tip{
	position: absolute;
	top: 6px;
	right: -73px;
	color : red;
}