<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <base href="../../">
    
    <title>PARKnSHOP.com----Pay Result</title>
	
    <meta http-equiv="keywords" content="PARKnSHOP.com,Online Mall,electronic commerce">
    <meta http-equiv="description" content="PARKnSHOP.com Online Mall|Hong Kong's Largest Online Grocery Store">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   
    
     <link href="static/css/common/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/user/headTail.css" rel="stylesheet">
      <link href="static/css/payResult.css" rel="stylesheet">
	<script src="static/js/common/jquery-1.11.1.js"></script>
    <script src="static/js/common/bootstrap.min.js"></script>
  </head>
  <body>
  <!-- <%@include file="common/toolbar.jsp" %> -->
     <header>
		<span class="logo">PARKnSHOP</span>
		<div class="search-box">
    		<input type="search" placeholder=" Big promotion!Come & Grab!"/>
    		<button type="button" id="search">search</button>
    	</div>
	</header>
  
  <div class="container">
		<div class="row clearfix">
			<div class="background">
				<img src="static/images/wrong.png" class="tick_img"/>&nbsp;<span class="title_color title_size">Sorry, unable to complete the payment</span>
				<br/>
				<br/>
				<br/>
				<ul>
					<li> May be the result of the following reasons</li>
			    	<li>Lack of balance</li>
			        <li>The network is busy</li>
			        <li><a href="WEB-INF/views/myCart.html">you can go to cart and try again</a></li>
			    </ul>
			 
				<a class="btn btn_color" type="button" href="WEB-INF/views/homepage.html">back to shopping</a>
			</div>
		</div>
	</div>
  
  
 <!-- <%@include file="common/tail.html" %> -->
  </body>
</html>